In [13]:
import pandas as pd

In [14]:
df=pd.DataFrame({'company':['bmw','mercedes','range','audi'],
                'model':['xx','gls','velar','q'],
                'power':[300,548.25,201.4,241],
                'engine':['cylindre','lvb','cylindre','lbv']})

In [16]:
df.to_excel("converted-to-excel.xlsx")
df

    company  model   power    engine
0       bmw     xx  300.00  cylindre
1  mercedes    gls  548.25       lvb
2     range  velar  201.40  cylindre
3      audi      q  241.00       lbv

In [17]:
writer=pd.ExcelWriter('converted-to-excel.xlsx')
df.to_excel(writer)

writer.save()
print("df saved to excel file")

df saved to excel file

C:\Users\HP\AppData\Local\Temp\ipykernel_3484\4197258616.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [20]:
df.to_excel("output.xlsx",sheet_name='Sheet_name_1')
df

    company  model   power    engine
0       bmw     xx  300.00  cylindre
1  mercedes    gls  548.25       lvb
2     range  velar  201.40  cylindre
3      audi      q  241.00       lbv

In [21]:
pd.ExcelWriter('output.xlsx',mode='a')

In [22]:
import numpy as np
import pandas as pd

# Create the DataFrame from the given dictionary data and index labels
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Print the first three rows using the head() method
print("First three rows:")
print(df.head(3))

# Delete rows with NaN values
df.dropna(inplace=True)

# Extract the 'name' and 'score' columns from the DataFrame
name_score_df = df[['name', 'score']]
print("\nExtracted 'name' and 'score' columns:")
print(name_score_df)

# Append a new row 'k' to the DataFrame
new_row_data = {'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}
df = df.append(pd.Series(new_row_data, name='k'))

# Delete the 'attempts' column from the DataFrame
df.drop(columns=['attempts'], inplace=True)

# Add a new column "Success" based on the score value
df['Success'] = df['score'].apply(lambda x: 1 if x > 10 else 0)

# Export the final DataFrame into a CSV file named "my_data"
df.to_csv('my_data.csv')

# Display the final DataFrame
print("\nFinal DataFrame:")
print(df)

First three rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Extracted 'name' and 'score' columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

C:\Users\HP\AppData\Local\Temp\ipykernel_3484\2849929204.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(new_row_data, name='k'))

Final DataFrame:
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1